---
import { getCollection, type CollectionEntry } from "astro:content";
import ArticleLayout from "@layouts/article.astro";
import TableOfContents from "@components/TableOfContents";
import RelatedPosts from "@components/RelatedPosts.astro";

export async function getStaticPaths() {
  const blogEntries = await getCollection(
    "blog",
    ({ data }: CollectionEntry<"blog">) => data.pubDate < new Date()
  );

  return blogEntries.map((entry: CollectionEntry<"blog">) => ({
    params: { slug: entry.slug },
    props: { post: entry },
  }));
}

const { slug } = Astro.params;
const { post } = Astro.props;
const { title, description, tags, canonicalUrl } = post.data;
const { Content, headings } = await post.render();
const permalink = `https://${import.meta.env.HOST}/blog/${slug}/`;
---

<ArticleLayout {title} {description} {permalink} {canonicalUrl} >
  <div class="container">
    <header>
      <h1>{title}</h1>
    </header>
    <article class="toc">
      <main>
        <Content />
      </main>
      <aside>
        <TableOfContents {headings} client:load />
        <RelatedPosts {slug} {tags} />
      </aside>
    </article>
  </div>
</ArticleLayout>

<style>
  article {
    padding: 0 2rem;
  }
</style>
