---
import { getCollection, type CollectionEntry } from "astro:content";
import BaseLayout from "@layouts/base.astro";
import Mast from "@components/Mast.astro";

export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");

  return blogEntries.map((entry: CollectionEntry<"blog">) => ({
    params: { slug: entry.slug },
    props: { post: entry },
  }));
}

const { slug } = Astro.params;
const { post } = Astro.props;
const { title, description, tags, canonicalUrl, summary, snapshot, pubDate } =
  post.data;
const { Content, headings } = await post.render();
const permalink = `https://${import.meta.env.HOST}/blog/${slug}/`;
let options = {
  month: "long",
  day: "numeric",
  weekday: "long",
  year: "numeric",
} as Intl.DateTimeFormatOptions;
---

<BaseLayout {title} {description} {permalink} {canonicalUrl}>
  <header>
    <Mast {title} {summary} reduce={true} />
  </header>
  <article class="content">
    {pubDate <= new Date() && <Content />}
    {
      pubDate > new Date() && (
        <div class="snapshot">
          <blockquote>
            <h2>Coming Soon</h2>
            <p>
              This article is scheduled to drop on{" "}
              <b>{new Intl.DateTimeFormat("en-US", options).format(pubDate)}</b>
              . In the meantime, here's a snapshot of the article as it will
              appear when published.
            </p>
          </blockquote>
          <div class="summary" set:html={snapshot} />
        </div>
      )
    }
  </article>
</BaseLayout>

<style>
  main {
  }
</style>
