---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/base.astro";
import BlogList from "@components/BlogList.astro";
import Mast from "@components/Mast.astro";

let posts = await getCollection(
  "blog",
  ({ data }) => data.pubDate <= new Date()
);

posts = posts.sort(
  (a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime()
);

const title = `All ${posts.length} Things I've Written Down`;
const subhead = "Michael's blog posts";
const description =
  "Blog posts written by Michael Jolley, the bald bearded builder.";
const permalink = `https://${import.meta.env.HOST}/blog/`;
const image = "https://res.cloudinary.com/dk3rdh3yo/image/upload/c_scale,f_auto/v1688594948/website-assets/neon_robot_with_words_coming_from_its_mouth_ectqfv.png"
---

<BaseLayout {title} {description} {permalink} {subhead}>
	<Mast title=`All ${posts.length} Things I've Written Down` summary="Learnings I'll find when I try to do them again."/>
	<section>
		<div class="container">
			<BlogList {posts} />
		</div>
	</section>
</BaseLayout>

<style>
	.container {
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}
</style>
