---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/base.astro";

let posts = await getCollection(
  "blog",
  ({ data }) => data.pubDate <= new Date()
);

posts = posts.sort(
  (a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime()
);

const title = `All ${posts.length} Things I've Written Down`;
const subhead = "Michael's blog posts";
const description =
  "Blog posts written by Michael Jolley, the bald bearded builder.";
const permalink = `https://${import.meta.env.HOST}/blog/`;
---

<BaseLayout {title} {description} {permalink}>
  <section>
    <div class="container">
      
{posts.map((post) => <p><a href={`/blog/${post.slug}/`}>{post.data.title}</a></p>)}

    </div>
  </section>
</BaseLayout>

<style>
  .container {
    display: flex;
    flex-direction: column;
  }
</style>
