---
import ArticleLayout from "@layouts/article.astro";
import BlogCard from "@components/Cards/BlogCard.astro";
import { getCollection, type CollectionEntry } from "astro:content";

let blogPosts = await getCollection("blog");

blogPosts = blogPosts.sort(
  (a: CollectionEntry<"blog">, b: CollectionEntry<"blog">) =>
    new Date(b.data.pubDate) - new Date(a.data.pubDate)
);
const title = "All Blog Posts by Michael";
const description =
  "A listing of blog posts by Michael Jolley, the bald bearded builder.";
const permalink = `https://${import.meta.env.HOST}/blog/`;
---

<ArticleLayout {title} {description} {permalink} >
  <div class="container">
    <header>
      <h1>All Posts</h1>
    </header>
    <article>
      <main>
        <ul class="cards">
          {blogPosts.map((post) => <BlogCard {post} />)}
        </ul>
      </main>
    </article>
  </div>
</ArticleLayout>

<style></style>
