---
import ArticleLayout from "@layouts/article.astro";
import BlogCard from "@components/Cards/BlogCard.astro";
import { getCollection } from "astro:content";

let blogPosts = await getCollection(
  "blog",
  ({ data }) => data.pubDate <= new Date()
);

blogPosts = blogPosts.sort(
  (a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime()
);
const title = "All Blog Posts by Michael";
const description =
  "A listing of blog posts by Michael Jolley, the bald bearded builder.";
const permalink = `https://${import.meta.env.HOST}/blog/`;
const header = "All Posts";
---

<ArticleLayout {title} {description} {permalink} {header}>
  <main>
    <ul class="cards">
      {blogPosts.map((post) => <BlogCard {post} />)}
    </ul>
  </main>
</ArticleLayout>

<style>
  ul {
    @apply grid gap-8;
    @apply list-none !important;
    @apply grid-cols-1 lg:grid-cols-2 2xl:grid-cols-3;
  }
</style>
