---
import ArticleLayout from '@layouts/article.astro';
import { getCollection, type CollectionEntry } from 'astro:content';
import TableOfContents from '@components/TableOfContents';
import RelatedPosts from '@components/RelatedPosts.astro';

export async function getStaticPaths() {
  const brainDumps = await getCollection(
    'brainDumps',
    ({ data }: CollectionEntry<'brainDump'>) => data.pubDate < new Date()
  );

  return brainDumps.map((entry: CollectionEntry<'brainDump'>) => ({
    params: { slug: entry.slug },
    props: { post: entry },
  }));
}

const { slug } = Astro.params;
const { post } = Astro.props;
const { title, description, tags, ograph } = post.data;
const { Content, headings } = await post.render();
const permalink = `https://${import.meta.env.HOST}/brain-dump/${slug}/`;
---

<ArticleLayout {title} {description} {permalink} {ograph}>
  <div class="container">
    <header>
      <h1>{title}</h1>
    </header>
    <article>
      <main>
        <Content />
      </main>
      <aside>
        <TableOfContents {headings} client:load />
        <RelatedPosts {slug} {tags} />
      </aside>
    </article>
  </div>
</ArticleLayout>

<style>
  article {
    padding: 0 2rem;
  }
</style>
