---
import { getCollection, type CollectionEntry } from "astro:content";
import ArticleLayout from "@layouts/article.astro";
import TableOfContents from "@components/TableOfContents";
import RelatedPosts from "@components/RelatedPosts.astro";

export async function getStaticPaths() {
  const brainDumps = await getCollection(
    "brainDumps",
    ({ data }: CollectionEntry<"brainDumps">) => data.pubDate < new Date()
  );
  return brainDumps.map((entry: CollectionEntry<"brainDumps">) => ({
    params: { slug: entry.slug },
    props: { post: entry },
  }));
}

const { slug } = Astro.params;
const { post } = Astro.props;
const { title, description, tags } = post.data;
const { Content, headings } = await post.render();
const permalink = `https://${import.meta.env.HOST}/brain-dump/${slug}/`;
const header = title;
---

<ArticleLayout {title} {description} {permalink} {header}>
  <main>
    <Content />
  </main>
  <aside>
    <TableOfContents {headings} client:load />
    <RelatedPosts {slug} {tags} />
  </aside>
</ArticleLayout>
