---
import { getCollection, type CollectionEntry } from "astro:content";
import BaseLayout from "@layouts/base.astro";
import TableOfContents from "@components/TableOfContents";
import RelatedPosts from "@components/RelatedPosts.astro";

export async function getStaticPaths() {
  const brainDumps = await getCollection(
    "brainDumps",
    ({ data }: CollectionEntry<"brainDump">) => data.pubDate < new Date()
  );

  return brainDumps.map((entry: CollectionEntry<"brainDump">) => ({
    params: { slug: entry.slug },
    props: { post: entry },
  }));
}

const { slug } = Astro.params;
const { post } = Astro.props;
const { title, description, tags } = post.data;
const { Content, headings } = await post.render();
const permalink = `https://${import.meta.env.HOST}/brain-dump/${slug}/`;
---

<BaseLayout {title} {description} {permalink}>
  <div class="container">
    <header>
      <h1>{title}</h1>
    </header>
    <article class="toc">
      <main>
        <Content />
      </main>
      <aside>
        <TableOfContents {headings} client:load />
        <RelatedPosts {slug} {tags} />
      </aside>
    </article>
  </div>
</BaseLayout>
