---
import { getCollection, type CollectionEntry } from "astro:content";
import ArticleLayout from "@layouts/article.astro";
import BrainDumpCard from "@components/Cards/BrainDumpCard.astro";
import BrainDump from "@components/BrainDump.astro";

let brainDumps = await getCollection("brainDumps", ({ data }) => {
  return data.pubDate < new Date(Date.now() - 7 * 24 * 60 * 60 * 1000);
});

brainDumps = brainDumps.sort(
  (a: CollectionEntry<"brainDump">, b: CollectionEntry<"brainDump">) => {
    return (
      new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()
    );
  }
);

const title =
  "Brain Dump - A Weekly Collection of Things Michael Finds Interesting";
const description =
  "The Brain Dump is a weekly newsletter that covers the latest in tech, gadgets, security, and more.";
const permalink = `https://${import.meta.env.HOST}/brain-dump/`;
const header = "The Brain Dump";
const subheader = "Weekly tech news, gadgets, tips & more";
---

<ArticleLayout {title} {description} {permalink} {header} {subheader}>
  <main>
    <BrainDump />

    <h2>Previous Brain Dumps</h2>
    <p>Brain Dumps drop every Monday morning.</p>
    <ul>
      {brainDumps.map((brainDump) => <BrainDumpCard {brainDump} />)}
    </ul>
  </main>
</ArticleLayout>

<style>
  ul {
    @apply grid gap-8 p-0 mt-12;
    grid-template-columns: 1;
  }

  h2 {
    @apply mt-24 !important;
  }

  @screen lg {
    ul {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @screen xl {
    ul {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>
