---
import ArticleLayout from '@layouts/article.astro';
import { getCollection, type CollectionEntry } from 'astro:content';
import BrainDumpSmall from '@components/Cards/BrainDumpSmall.astro';
import BrainDump from '@components/BrainDump.astro';

let brainDumps = await getCollection('brainDump', ({ data }) => {
  return data.pubDate < new Date(Date.now() - 7 * 24 * 60 * 60 * 1000);
});

brainDumps = brainDumps.sort(
  (a: CollectionEntry<'brainDump'>, b: CollectionEntry<'brainDump'>) => {
    return (
      new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()
    );
  }
);

const title = 'Brain Dump - Weekly tech news, gadgets, tips & more';
const description =
  'The Brain Dump is a weekly newsletter that covers the latest in tech, gadgets, security, and more.';
const permalink = `https://${import.meta.env.HOST}/brain-dump/`;
const ograph =
  'https://res.cloudinary.com/dk3rdh3yo/image/upload/c_scale,w_auto,f_auto/v1689271118/website-assets/two_neon_robots_holding_hands_te9zic.png';
---

<ArticleLayout {title} {description} {permalink} {ograph}>
  <div class="container">
    <header>
      <h1>The Brain Dump</h1>
      <p>Weekly tech news, gadgets, tips &amp; more</p>
    </header>
    <article>
      <main>
        <BrainDump />

        <h2 class="center">Previous Brain Dumps</h2>
        <p class="center">Brain Dumps drop every Monday morning. Past brain dumps can be found 
          below one week after their release date.</p>
        <ul>
          {brainDumps.map((brainDump) => <BrainDumpSmall {brainDump} />)}
        </ul>
      </main>
    </article>
  </div>
</ArticleLayout>

<style>
  article {
    padding: 0 2rem;
  }
  h2.center {
    margin-top: 5rem;
  }
  ul {
    display: grid;
    grid-template-columns: 1;
    gap: 2rem;
    padding: 0;
    margin-top: 3rem;
  }
  p {
    margin: 2.5rem 0;
  }
  @media screen and (min-width: 768px) {
    ul {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media screen and (min-width: 1536px) {
    ul {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>
