---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/base.astro";
import BrainDumpList from "@components/BrainDumpList.astro";
import Mast from "@components/Mast.astro";
import BrainDumpThanks from "@components/BrainDumpThanks.astro";

let dumps = await getCollection(
  "brainDumps",
  ({ data }) => data.pubDate <= new Date()
);

dumps = dumps.sort(
  (a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime()
);

const title = `All ${dumps.length} Volumes of the Brain Dump`;
const subhead = "Brain Dump Newsletter";
const description =
  "The Brain Dump is a newsletter of cool things found by Michael Jolley, the bald bearded builder.";
const permalink = `https://${import.meta.env.HOST}/brain-dump/`;
---

<BaseLayout {title} {description} {permalink}>
  <Mast
    title=`The Brain Dump`
    summary="Cool stuff I've found and want to share."
  />
  <BrainDumpThanks />
  <section>
    <div class="wrapper">
      <h2>Past Brain Dumps</h2>
    </div>
    <div class="container">
      <BrainDumpList {dumps} />
    </div>
  </section>
</BaseLayout>

<style>
  .container {
    display: flex;
    flex-direction: column;
  }

  h2 {
    font-family: var(--font-anton);
    text-transform: uppercase;
    font-size: 8rem;
    margin: 4rem 0;
  }
  @media (min-width: 640px) /* sm */ {
    h2 {
      font-size: 9rem;
    }
  }

  @media (min-width: 768px) /* md */ {
    h2 {
      font-size: 12rem;
    }
  }

  @media (min-width: 1024px) /* lg */ {
    h2 {
      font-size: 13rem;
    }
    .container {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      gap: 2rem;
    }
  }
</style>
