---
import { getCollection, type CollectionEntry } from "astro:content";
import ArticleLayout from "@layouts/article.astro";
import BrainDumpCard from "@components/Cards/BrainDumpCard.astro";

let brainDumps = await getCollection("brainDumps", ({ data }) => {
  return data.pubDate < new Date(Date.now() - 7 * 24 * 60 * 60 * 1000);
});

brainDumps = brainDumps.sort(
  (a: CollectionEntry<"brainDumps">, b: CollectionEntry<"brainDumps">) => {
    return (
      new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()
    );
  }
);

const title = "Thanks for Subscribing to the Brain Dump Newsletter";
const description = "You successfully registered for the Brain Dump newsletter";
const permalink = `https://${import.meta.env.HOST}/brain-dump/thanks/`;
const header = title;
---

<ArticleLayout {title} {description} {permalink} {header}>
  <main>
    <blockquote>
      <strong>A note from Michael:</strong><br />
       Thanks for subscribing! Curating cool stuff for the Brain Dump is one of
      my favorite weekly activities. I can't wait to hear what you think!
    </blockquote>

    <h2 class="center">Previous Brain Dumps</h2>
    <p class="center">
      Brain Dumps drop every Monday morning. Past brain dumps can be found below
      one week after their release date.
    </p>
    <ul>
      {brainDumps.map((brainDump) => <BrainDumpCard {brainDump} />)}
    </ul>
  </main>
</ArticleLayout>

<style>
  ul {
    @apply mt-12;
    @apply grid gap-8;
    @apply p-0;
    @apply list-none !important;
    grid-template-columns: 1;
  }
  p {
    @apply my-10 mx-0;
  }
  @screen md {
    ul {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @screen 2xl {
    ul {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>
