---
import { getCollection, type CollectionEntry } from "astro:content";
import BaseLayout from "@layouts/base.astro";
import BrainDumpCard from "@components/Cards/BrainDumpCard.astro";

let brainDumps = await getCollection("brainDumps", ({ data }) => {
  return data.pubDate < new Date(Date.now() - 7 * 24 * 60 * 60 * 1000);
});

brainDumps = brainDumps.sort(
  (a: CollectionEntry<"brainDump">, b: CollectionEntry<"brainDump">) => {
    return (
      new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()
    );
  }
);

const title = "Thanks for Subscribing to the Brain Dump Newsletter";
const description = "You successfully registered for the Brain Dump newsletter";
const permalink = `https://${import.meta.env.HOST}/brain-dump/thanks/`;
---

<BaseLayout {title} {description} {permalink}>
  <div class="container">
    <header>
      <h1>Welcome to the Brain Dump Newsletter</h1>
    </header>
    <article>
      <main>
        <blockquote>
          <strong>A note from Michael:</strong><br />
           Thanks for subscribing! Curating cool stuff for the Brain Dump is one
          of my favorite weekly activities. I can't wait to hear what you think!
        </blockquote>

        <h2 class="center">Previous Brain Dumps</h2>
        <p class="center">
          Brain Dumps drop every Monday morning. Past brain dumps can be found
          below one week after their release date.
        </p>
        <ul>
          {brainDumps.map((brainDump) => <BrainDumpCard {brainDump} />)}
        </ul>
      </main>
    </article>
  </div>
</BaseLayout>

<style>
  h2.center {
    margin-top: 5rem;
  }
  ul {
    display: grid;
    grid-template-columns: 1;
    gap: 2rem;
    padding: 0;
    margin-top: 3rem;
  }
  p {
    margin: 2.5rem 0;
  }
  @media screen and (min-width: 768px) {
    ul {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media screen and (min-width: 1536px) {
    ul {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>
