---
export interface Props {
  user: {
		id: string;
		nickname: string;
		profileImg: string;
	};
}
const { user } = Astro.props;

---

	<h3>
		Welcome 
		<img src={user.profileImg} alt={`${user.nickname}'s Twitch profile picture'`} class="profile" />
		{user.nickname}!
	</h3>
	<p>
		We're making a subscriber list and checking it twice, so make sure you're on
		it by December 19th, 2024! And be sure to register below to receive your
		Season of Gifting gifts. 🎁
	</p>
	<form
		name="giving-register"
		method="POST"
		action="/api/auth/register/"
		netlify-honeypot="bot-field"
	>
		<p class="hidden">
			<label>
				Don't fill this out if you're human: 
			</label>
			<input name="bot-field" />
		</p>
		<p class="hidden">
			<label>
				Don't fill this out if you're human:
			</label><br />
			<input name="id" value={user?.id}/>
		</p>
		<p class="hidden">
			<label>
				Don't fill this out if you're human:
			</label><br />
			<input name="user" value={user?.nickname}/>
		</p>
		<p>
			<label for="firstName">First Name</label><br />
			<input
				id="firstName"
				type="text"
				name="firstName"
				placeholder="Dwight"
				required
			/>
		</p>
		<p>
			<label for="lastName">Last Name</label><br />
			<input
				id="lastName"
				type="text"
				name="lastName"
				placeholder="Schrute"
				required
			/>
		</p>
		<p>
			<label for="email">Email Address</label><br />
			<input
				id="email"
				type="text"
				name="email"
				placeholder="dschrutt@dundermifflin.com"
				required
			/>
		</p>
		<p>
			<label for="address">Mailing Address</label><br />
			<input
				id="address"
				type="text"
				name="address"
				placeholder="123 Paper Parkway"
				required
			/>
		</p>
		<p>
			<label for="city">City</label><br />
			<input
				id="city"
				type="text"
				name="city"
				placeholder="Scranton"
				required
			/>
		</p>
		<p>
			<label for="state">State/Province</label><br />
			<input
				id="state"
				type="text"
				name="state"
				placeholder="PA"
				required
			/>
		</p>
		<p>
			<label for="zip">Postal Code</label><br />
			<input
				id="zip"
				type="text"
				name="zip"
				placeholder="55555"
				required
			/>
		</p>
		<p>
			<label for="tshirt">T-shirt Size</label><br />
			<select
				id="tshirt"
				name="tshirt"
				required
			>
				<option></option>
				<option value="s">S</option>
				<option value="m">M</option>
				<option value="l">L</option>
				<option value="xl">XL</option>
				<option value="xxl">XXL</option>
			</select>
		</p>
		<p>
			Submitting this form implies you agree to the
			<a href="/gifting/terms/" target="_blank">terms and conditions</a> of the Season of
			Gifting.
		</p>
		<p>
			<button type="submit">Register</button>
		</p>
	</fieldset>
</form>	
<p class="small">
	Don't worry. All the info you provide will <strong>ONLY</strong> be used
	for the Season of Gifting purposes. I won't sell your info to anyone.
</p>

<style>
	
h3 {
	font-family: var(--font-anton);
	font-size: 2rem;
	text-transform: uppercase;
	margin: 1rem 0;
	color: var(--text);
	display: flex;
	gap: 0.4rem;
	align-items: center;
}
p {
	color: var(--text);
}
strong {
	font-weight:bold;
}
.small {
	font-size: 0.7rem;
	color: var(--purple);
	margin: 0;
	padding: 0;
}
.hidden {
	display: none;
}

label {
	color: var(--link-color);
}
input::placeholder {
	color: var(--dulled);
}
input, select {
	border-color: var(--border-color);
	color: var(--text);
}
select option {
	color: var(--dark);
}
button {
	margin: 1rem 0;
}

@media (min-width: 640px) /* sm */ {
	h2 {
		font-size: 7rem;
	}
}

@media (min-width: 768px) /* md */ {
	h2 {
		font-size: 9rem;
	}
}

@media (min-width: 1024px) /* lg */ {
	h2 {
		font-size: 12rem;
	}
}

@media (min-width: 1280px) /* xl */ {
	h2 {
		font-size: 14rem;
	}
}

</style>
