---
import type { CollectionEntry } from "astro:content";
import BaseCard from "@components/Cards/BaseCard.astro";

export interface Props {
  dump: CollectionEntry<"brainDumps">;
  classes?: string | undefined;
}

const { dump, classes, ...rest } = Astro.props;
const { title, description, pubDate } = dump.data;
const url = `/brain-dump/${dump.slug}/`;
const dumpDate = (new Date(pubDate)).toISOString().split('T')[0];
---

<BaseCard {...rest} {classes} {url}>
	<main>
		<h3>{title}</h3>
		<p>{description}</p>
	</main>
	<footer>
		<p>Vol. {dump.slug * 1}</p>
		<p>{dumpDate}</p>
	</footer>
</BaseCard>

<style>
  .dump {
    display: flex;
    flex-direction: column;
    border: 0;
		padding: 1.5rem 2rem;
  }

	.dump footer {
		display: flex;
		justify-content: space-between;
	}
	.dump footer p {
		font-family: var(--font-anton);
		text-transform: uppercase;
		margin: 0;

	}
	.dump footer p:nth-of-type(even) {
		text-align: right;
	}
	
  /* .dump:nth-of-type(even) {
    flex-direction: row-reverse;
  } */

  h3 {
    font-family: var(--font-anton);
    text-transform: uppercase;
    font-size: 3rem;
    line-height: 95%;
  }
  p {
    color: var(--text);
    line-height: 1.5rem;
    width: 80%;
  }

  .dump1 {
    background-color: var(--blue);
  }
  .dump1 h3,
	.dump1 footer p {
    color: var(--light);
  }
  .dump1 p {
    color: var(--dark);
  }
  .dump2 {
    background-color: var(--pink);
  }
  .dump2 h3,
	.dump2 footer p  {
    color: var(--yellow);
  }
  .dump2 p {
    color: var(--light);
  }
  .dump3 {
    background-color: var(--bg-2);
  }
  .dump3 h3,
	.dump3 footer p  {
    color: var(--pink);
  }
  .dump3 p {
    color: var(--bg);
  }
  .dump4 {
    background-color: var(--purple);
  }
  .dump4 h3,
	.dump4 footer p  {
    color: var(--blue);
  }
  .dump4 p {
    color: var(--light);
  }
  .dump5 {
    background-color: var(--yellow);
  }
  .dump5 h3,
	.dump5 footer p  {
    color: var(--purple);
  }
  .dump5 p {
    color: var(--dark);
  }
  .dump6 {
    background-color: var(--bg);
  }
  .dump6 h3,
	.dump6 footer p  {
    color: var(--pink);
  }
  .dump6 p {
    color: var(--text);
  }


  @media (min-width: 640px) /* sm */ {
    h3 {
      font-size: 4rem;
    }
  }

  @media (min-width: 768px) /* md */ {
    h3 {
      font-size: 5rem;
    }
  }

  @media (min-width: 1024px) /* lg */ {
    .dump img {
      display: block;
    }
  }
</style>
