---
import ArticleLayout from '@layouts/Article.astro';

const title = 'Thank you for your report'
const description =
  'Code of conduct for the Bald Bearded Builder and Build with Me community'
const permalink = `https://${import.meta.env.HOST}/thanks-r/`
const ograph =
  'https://res.cloudinary.com/dk3rdh3yo/image/upload/c_scale,w_auto,f_auto/v1689271118/website-assets/two_neon_robots_holding_hands_te9zic.png'

---

<ArticleLayout {title} {description} {permalink} {ograph}>
  <div class="container">
    <header>
      <h1>Thank You for Reporting a Code of Conduct Violation</h1>
    </header>
    <article>
      <main>
        <blockquote>
          <strong>A note from Michael:</strong><br />
           I recognize the courage that it often requires to report a Code of
          Conduct violation and that's why I take it so seriously. If, at any
          point, you feel that your report is falling through the cracks or is
          being overlooked, please reach out to me or any of our Core Team
          members personally. Thank you.
        </blockquote>

        <h2>What's Next?</h2>

        <p>
          You're report will be brought to our Core Team's attention. They will 
		  review your report and take appropriate action. 
        </p>

		<h4>What If My Report Involves a Core Team Member?</h4>

		<p>
			That member will be sequestered from the review process. Once a 
			decision on any needed corrective actions has been made, the 
			remaining Core Team members will communicate those actions to the 
			Core Team member in question. It's important to note that your
			information will be kept confidential from that Core Team member.
		</p>
		
		<p>
		  If you have any questions, please feel free to reach out to any 
		  members of the Core Team directly. You can identify them in Discord 
		  by the "Core Team" role.
		</p>

      </main>
    </article>
  </div>
</ArticleLayout>

<style>
  article {
    padding: 0 2rem;
  }
</style>
