---
import LatestPosts from '@components/LatestPosts.astro';
import ArticleLayout from '@layouts/article.astro';

const title = 'What the what!? You found a 404!'
const description =
  "Looks like something's missing. Let's get you back on track."
const permalink = `https://${import.meta.env.HOST}/404/`
const ograph =
  'https://res.cloudinary.com/dk3rdh3yo/image/upload/c_scale,w_auto,f_auto/v1689271118/website-assets/two_neon_robots_holding_hands_te9zic.png'

---

<ArticleLayout {title} {description} {permalink} {ograph}>
  <div class="container">
    <header>
      <h1>This is where I keep the secret things.</h1>
    </header>
    <article>
      <main>

        <h2>Okay. Maybe not.</h2>

        <p>
          I'm not sure how you got here, but I can sure get you somehwere else. Maybe you're looking for one of the posts below?
        </p>

        <LatestPosts />

      </main>
    </article>
  </div>
</ArticleLayout>

<style>
  article {
    padding: 0 2rem;
  }
</style>
