---
import { getCollection, getEntries } from 'astro:content'
import BaseLayout from '../layouts/base.astro'

import MastSpeaking from '../components/MastSpeaking.astro'
import Talk from '../components/Talk.astro'
import Separator from '../components/Separator.astro'
import Event from '../components/Event.astro'

let talks = await getCollection('talks')
let events = await getCollection('events')

talks = talks
  .map((talk) => {
    return {
      ...{ featured: 99 },
      ...talk,
      ...{
        relatedEvents: events.filter((event) =>
          talk.data.events.map((e) => e.id).includes(event.id)
        ),
      },
    }
  })
  .sort((a, b) => b.featured - a.featured)

const title = 'Talks given by Michael Jolley'
const description = 'A listing of talks & events Michael Jolley has spoken at.'
const permalink = `https://${import.meta.env.HOST}/speaking/`
const ograph =
  'https://res.cloudinary.com/dk3rdh3yo/image/upload/v1688750920/website-assets/ograph/neon_robot_in_front_of_a_crowded_room_of_people_mb3uhg_qdkeej.png'
---

<BaseLayout {title} {description} {permalink} {ograph}>
  <MastSpeaking />
  <section class="wrapper">
    <Separator />
    <h2>Past Talks</h2>
    {
      talks.map((talk) => {
        return (
          <>
            <section class="talk">
              <div>
                <Talk {talk} />
              </div>
              <ul>
                {talk.relatedEvents.map((event) => (
                  <li>
                    <Event event={event} />
                  </li>
                ))}
              </ul>
            </section>
          </>
        )
      })
    }
  </section>
</BaseLayout>

<style lang="scss">
  .wrapper {
    @apply py-12;

    h2 {
      @apply font-inter font-bold;
      @apply text-gray-100;
      @apply text-4xl md:text-4xl lg:text-5xl;
      @apply mb-12;
    }
    .talk {
      @apply grid grid-cols-1 md:grid-cols-2 gap-12;
      @apply mb-12;

      ul {
        @apply hidden;
        @apply list-none md:grid md:grid-cols-2 gap-4;
      }
    }
  }
</style>
