---
import BaseLayout from '../layouts/base.astro'
import Separator from '../components/Separator.astro'
import MastThanks from '../components/MastThanks.astro'

const title = 'Thanks for your report'
const description =
  'Thanks for reporting a Code of Conduct violation'
const permalink = `https://${import.meta.env.HOST}/`
const ograph =
  'https://res.cloudinary.com/dk3rdh3yo/image/upload/c_scale,w_auto,f_auto/v1689271953/website-assets/neon_teddy_bear_xy2en4.png'

---

<BaseLayout {title} {description} {permalink} {ograph}>
  <MastThanks />
  <Separator />
  <section class="wrapper">
    <main>
      <section>
        <p>
          Thank you for submitting that breach of our code of conduct. We take
          breaches of our Code of Conduct <strong>very</strong> seriously. You can
          trust that we will address the issue you raised and if you provided your
          contact information, we will update you accordingly.
        </p>
      </section>
      <aside>
      </aside>
    </main>
  </section>
</BaseLayout>

<style lang="scss">
  .wrapper {
    @apply pb-12;
    
    main {
      @apply flex gap-12;
      @apply pb-20;
      @apply items-start;

      section {
        @apply flex flex-col;
        @apply w-full md:w-4/6;
      }
      aside {
        @apply hidden md:flex md:flex-col;
        @apply md:w-2/6;
        @apply z-0;
        @apply sticky;
        top: 105px;
      }
    }
  }
</style>
