---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/base.astro";
import Mast from "@components/Mast.astro";
import GearCard from "@components/Cards/GearCard.astro";

const gear = await getCollection("gear");

const categories = gear
	.map((item) => item.data.category)
	.filter((value, index, self) => self.indexOf(value) === index);

let lastStyle = 0;

const nextStyle = () => {
	let style = lastStyle
	
	while (style === lastStyle) {
		style = Math.floor(Math.random() * (6 - 1 + 1)) + 1;
	}

	lastStyle = style;
	return style;
};

const title = "All my Gear, Tools, and Toys";
const subhead = "Gear to geek out on";
const description =
  "All the tools Michael Jolley uses to build things on the web.";
const permalink = `https://${import.meta.env.HOST}/uses/`;
---

<BaseLayout {title} {description} {permalink}>
  <Mast
    title=`All Meh Gear`
    summary="Hardware, Software, and Tools I use to build things."
  />
  <div class="container content">
			<blockquote>
				<strong>A note from Michael:</strong><br /><br />
				 I get asked about the stuff I use on a regular basis. To make it easier
				to share with others, I try to keep the lists below up-to-date. Something
				missing? Hit me up and let me know.
			</blockquote>
			{
				categories.map((category) => (
					<div>
						<h2>{category}</h2>
						<div class="cards">
							{
								gear
									.filter((gear) => gear.data.category === category)
									.map((gear) => {
										const style = nextStyle();
										return <GearCard classes={`gear gear${style}`} {gear}/>
								})
							}
						</div>
					</div>
				))
			}
  </div>
</BaseLayout>

<style>
  .container {
    display: flex;
    flex-direction: column;
  }
	.cards {
		display: grid;
		gap: 2rem;
	}

	@media (min-width: 768px) /* md */ {
		.cards {
			grid-template-columns: 50% 1fr;
		}
	}
		
	@media (min-width: 1280px) /* xl */ {
		.cards {
				grid-template-columns: 33% 33% 1fr;
			}
		}

	@media (min-width: 1536px) /* 2xl */ {
		.cards {
				grid-template-columns: 33% 33% 1fr;
			}
	}
</style>
