---
import BaseLayout from '../layouts/base.astro'
import { getCollection } from 'astro:content'

import Separator from '../components/Separator.astro'
import MastUses from '../components/MastUses.astro'
import Gear from '../components/Gear.astro'

const gearEntries = await getCollection(
  'gear'
)

const groups = [...new Set(gearEntries.map(m => m.data.category))]
  .map((group: string) => {
    return {
      name: group,
      gear: gearEntries.filter((gear) => gear.data.category === group).sort((a, b) => {
        return a.data.title > b.data.title ? 1 : -1
      })
    }
  }).sort((a, b) => {
    return a.name > b.name ? 1 : -1
  })

const title = 'Stuff Michael Uses'
const description =
  'A history of the hardware and software I use on a regular basis for software development, streaming, and content creation.'
const permalink = 'https://baldbeardedbuilder.com/uses/'
const ograph =
  'https://res.cloudinary.com/dk3rdh3yo/image/upload/c_scale,w_auto,f_auto/v1688750972/website-assets/ograph/neon_gears_vpcc15_idu38v.png'
---

<BaseLayout {title} {description} {permalink} {ograph}>
  <MastUses />
  <Separator />
  <section class="wrapper">
    <main>
      <blockquote>
        <strong>Full disclosure:</strong> All the links on this page are affiliate
        links. That means if you purchase the item I get a little change from Amazon.
        So you get what you want/need and I get a coffee. Win/win.
      </blockquote>
      {
        groups.map((group) => (
          <>
          <h2>{group.name}</h2>
          <div>
            {
              group.gear.map((gear) => (
                <Gear gear={gear.data} /> 
              ))
            }
          </div>
          </>
          ))
      }
  </main>
</section>
</BaseLayout>
<style lang="scss">
  .wrapper {
    @apply pb-12;

    blockquote {
      @apply mt-0;
    }

    h2 {
      @apply font-inter font-bold;
      @apply text-gray-100;
      @apply text-4xl md:text-4xl lg:text-5xl;
      @apply mt-12 mb-12;
    }

    main > div {
      @apply grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-8;
      @apply mb-24;
    }
  }
</style>
