---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/base.astro";
import Mast from "@components/Mast.astro";
import GearCard from "@components/Cards/GearCard.astro";

const gear = await getCollection("gear");

const categories = gear
	.map((item) => item.data.category)
	.filter((value, index, self) => self.indexOf(value) === index);

const title = "All my Gear, Tools, and Toys";
const subhead = "Gear to geek out on";
const description =
  "All the tools Michael Jolley uses to build things on the web.";
const permalink = `https://${import.meta.env.HOST}/uses/`;
---

<BaseLayout {title} {description} {permalink}>
  <Mast
    title=`All Meh Gear`
    summary="Hardware, Software, and Tools I use to build things."
  />
  <article class="content">
			<blockquote>
				<strong>A note from Michael:</strong><br /><br />
				 I get asked about the stuff I use on a regular basis. To make it easier
				to share with others, I try to keep the lists below up-to-date. Something
				missing? Hit me up and let me know.
			</blockquote>
			{
				categories.map((category) => (
					<div>
						<h2>{category}</h2>
						<div class="cards">
							{
								gear
									.filter((gear) => gear.data.category === category)
									.map((gear) => (
										<GearCard {gear}/>
									))
							}
						</div>
					</div>
				))
			}
  </article>
</BaseLayout>

<style>
  .container {
    display: flex;
    flex-direction: column;
  }
</style>
