---
export interface Props {
  title: string;
  description: string;
  permalink: string;
  canonicalUrl?: string;
}

const { title, description, permalink, canonicalUrl } = Astro.props;

const ograph = `https://res.cloudinary.com/dk3rdh3yo/image/upload/g_south_west,x_100,y_100,w_1000,c_fit,co_white,l_text:Roboto_64_bold:${encodeURI(
  title
)}/website-assets/1200x700.png`;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="generator" content={Astro.generator} />
<meta
  http-equiv="delegate-ch"
  content="sec-ch-width https://res.cloudinary.com; sec-ch-dpr https://res.cloudinary.com; sec-ch-viewport-width https://res.cloudinary.com;"
/>

<link rel="icon" type="image/x-icon" href="/images/active-favicon.ico" />
<link
  rel="icon"
  type="image/png"
  href="/images/active-favicon-16x16.png"
  sizes="16x16"
/>
<link
  rel="icon"
  type="image/png"
  href="/images/active-favicon-32x32.png"
  sizes="32x32"
/>
<link
  rel="apple-touch-icon"
  href="/images/active-apple-touch-icon.png"
  sizes="180x180"
/>
<meta name="theme-color" content="#ffffff" />
<meta name="robots" content="index, follow" />
<link rel="sitemap" href="/sitemap-0.xml" />
<link rel="manifest" href="/site.webmanifest" />
<meta
  name="google-site-verification"
  content="tVxgKEIfMonxcyLLkr0zFTdU7fHI4aeskXgtc0wE-zg"
/>

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
{canonicalUrl && <link rel="canonical" href={canonicalUrl} />}

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={permalink} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={ograph} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:site" content="@michaeljolley" />
<meta property="twitter:creator" content="@michaeljolley" />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={ograph} />

<!-- Fonts & Images -->
<link rel="dns-prefetch" href="//res.cloudinary.com" />
<link rel="preconnect" href="https://res.cloudinary.com" />
<link rel="prerender" href="https://baldbeardedbuilder.com/blog/" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

<!-- Web Mentions -->
<link
  rel="webmention"
  href="https://webmention.io/baldbeardedbuilder.com/webmention"
/>
<link
  rel="pingback"
  href="https://webmention.io/baldbeardedbuilder.com/xmlrpc"
/>

<!-- Scripts -->
<script src="../scripts/mode.ts"></script>
<script src="../scripts/yo.ts"></script>
