---
import type { CollectionEntry } from 'astro:content'
interface Props {
  class?: string
  style?: string
  talk: CollectionEntry<'talk'>
}
const { style: styles, class: classes, talk } = Astro.props
---

<section
  style={`background-image:url(${talk.data.image}); ${styles}`}
  class={classes}
>
  <div class="overlay">
    <div class="content">
      <h3>{talk.data.title}</h3>
      <p class="synopsis">
        {talk.data.summary}
      </p>
    </div>
  </div>
</section>

<style lang="scss">
  section {
    --transition-duration: 700ms;

    @apply aspect-video md:aspect-auto;
    @apply overflow-hidden;
    @apply relative;
    @apply bg-cover;
    @apply border;
    min-height: 20em;
    @apply h-full w-full;
    border-image-source: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.6) 100%
    );
    border-image-slice: 1;
    transition: transform var(--transition-duration);

    .overlay {
      @apply h-full;
      background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 20%,
        rgba(0, 0, 0, 0.7) 40%,
        rgba(0, 0, 0, 0.9) 90%
      );

      .content {
        z-index: 1;
        position: absolute;
        bottom: 0.75rem;
        left: min(3em, 3vmin);
        right: min(3em, 3vmin);
        text-align: left;

        > * {
          position: relative;
        }

        h3 {
          @apply text-2xl;
        }

        .synopsis {
          @apply text-sm;
        }
      }
    }
  }
</style>
