---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/base.astro";
import BlogList from "@components/BlogList.astro";
import Mast from "@components/Mast.astro";

export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");

	const tags = [];
	blogEntries.reduce((acc, entry ) => {
		entry.data.tags.forEach(tag => {
			if (!acc.includes(tag)) {
				acc.push(tag);
			}
		});
		return acc;
	}, tags);

  return tags.map((entry: string) => ({
    params: { slug: entry },
    props: { posts: blogEntries.filter((post) => post.data.tags.includes(entry))},
  }));
}

const { slug } = Astro.params;
let { posts } = Astro.props;

posts = posts.sort(
  (a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime()
);

const title = `All ${posts.length} Things I've Written About ${slug}`;
const description =
  `Blog posts written about ${slug} by Michael Jolley, the bald bearded builder.`;
const permalink = `https://${import.meta.env.HOST}/blog/tags/${slug}`;
---

<BaseLayout {title} {description} {permalink}>
  <Mast
    title=`All ${posts.length} Things I've Written About ${slug}`
    summary="Learnings I'll find when I try to do them again."
  />
  <section>
    <div class="container">
      <BlogList {posts} />
    </div>
  </section>
</BaseLayout>

<style>
  .container {
    display: flex;
    flex-direction: column;
  }
</style>
