---
import BaseLayout from '../../../layouts/base.astro'
import { getCollection } from 'astro:content'
import Small from '../../../components/Cards/Small.astro'
import { apStyleTitleCase } from 'ap-style-title-case'

export async function getStaticPaths() {
  const blogPosts = await getCollection('blog')

  const tags = [...new Set(blogPosts.map((post) => post.data.tags).flat())];

  return tags.map((tag) => ({
    params: { tag: tag },
    props: { posts: blogPosts.filter((post) => post.data.tags.includes(tag)).sort(
    (a, b) => new Date(b.data.pubDate) - new Date(a.data.pubDate)
  ) },
  }))
}

const { tag } = Astro.params
const { posts } = Astro.props

const title = `${tag} posts | Michael Jolley`
const description =
  `A listing of blog posts concerning ${tag} by Michael Jolley`
const permalink = `https://${import.meta.env.HOST}/blog/tags/${tag}/`
const ograph =
  'https://res.cloudinary.com/dk3rdh3yo/image/upload/c_scale,w_auto,f_auto/v1688515828/website-assets/ograph/neon_computers_hu9vou.png'
---

<BaseLayout {title} {description} {permalink} {ograph}>
  <section class="wrapper">
    <h1>{apStyleTitleCase(tag)} Posts</h1>
    <div>
      {posts.map((post) => (
          <Small post={post} />
      ))}
    </div>
  </section>
</BaseLayout>

<style lang="scss">
  .wrapper {
    @apply pb-12 pt-40;

    h1 {
      @apply font-inter font-bold;
      @apply text-gray-100;
      @apply text-5xl md:text-5xl lg:text-6xl;
    }
    div {
      @apply py-12;
      @apply grid grid-cols-1 md:grid-cols-2  gap-8;
    }
  }
</style>
