---
import BaseLayout, { type Props as BaseHeadProps } from "@layouts/base.astro";

export interface Props extends BaseHeadProps {
  header: string;
  subheader?: string;
}

const { title, description, permalink, canonicalUrl, header, subheader } =
  Astro.props;
---

<BaseLayout {title} {description} {permalink} {canonicalUrl}>
  <div class="container">
    <header>
      <h1>{header}</h1>
      {subheader && <p>{subheader}</p>}
    </header>
    <article>
      <slot />
    </article>
  </div>
</BaseLayout>

<style>
  .container {
    @apply px-8 lg:px-0;
  }
  header {
    @apply my-24 md:my-48 flex flex-col items-center justify-center;
  }
  header h1 {
    @apply font-kanit font-semibold text-5xl lg:text-6xl;
    @apply text-center sm:text-left;

    background: linear-gradient(
      to bottom,
      rgba(148, 148, 148, 1) 20%,
      rgba(148, 148, 148, 0.2)
    );
    -webkit-background-clip: text;
    @apply bg-clip-text;
    -webkit-text-fill-color: transparent;
    @apply text-transparent;
  }
  header p {
    @apply mt-6;
    @apply text-xl text-zinc-300;
  }
</style>
