---
import BaseHead, {
  type Props as BaseHeadProps,
} from '../components/BaseHead.astro';
import Footer from '@components/Footer.astro';
import Header from '@components/Header.astro';
import SkipToContent from '@components/SkipToContent.astro';

export interface Props extends BaseHeadProps {}

const { title, description, permalink, canonicalUrl, ograph } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" data-theme="light">
  <BaseHead {title} {description} {permalink} {canonicalUrl} {ograph} />
  <script src="../scripts/yo.ts"></script>
  <body>
    <SkipToContent />
    <Header />
    <main id="content">
      <slot />
    </main>
    <Footer />
    <script src="../scripts/mode.ts"></script>
    <style is:global>
      :root {
        --dark: rgb(38, 38, 38);
        --light: rgb(255, 254, 254);
        --green: rgb(26, 219, 187);
        --blue: rgb(20, 165, 237);
        --purple: rgb(127, 100, 251);
        --pink: rgb(243, 50, 101);
        --yellow: rgb(255, 175, 132);
        --orange: rgb(255, 118, 108);
        --gray: rgb(119, 119, 119);
        --bg-dark: rgb(18, 20, 22);

        --green-fade: rgba(26, 219, 187, 0.2);
        --blue-fade: rgba(20, 165, 237, 0.2);
        --purple-fade: rgba(127, 100, 251, 0.2);
        --pink-fade: rgba(243, 50, 101, 0.2);
        --yellow-fade: rgba(255, 175, 132, 0.2);
        --orange-fade: rgba(255, 118, 108, 0.2);
        --gray-fade: rgba(119, 119, 119, 0.2);

        --gradient: linear-gradient(
          to right,
          var(--green),
          var(--blue),
          var(--purple),
          var(--pink),
          var(--yellow),
          var(--orange)
        );
        --gradient-vert: linear-gradient(
          to bottom,
          var(--green),
          var(--blue),
          var(--purple),
          var(--pink),
          var(--yellow),
          var(--orange)
        );
        --gradient-fade: linear-gradient(
          to right,
          var(--green-fade),
          var(--blue-fade),
          var(--purple-fade),
          var(--pink-fade),
          var(--yellow-fade),
          var(--orange-fade)
        );

        --glass-dark: rgba(38, 38, 38, 0.05);
        --glass-light: rgba(255, 255, 255, 0.05);

        --shadow-dark: 0 0 10px rgba(0, 0, 0, 0.25);
        --shadow-light: 0 0 10px rgba(0, 0, 0, 0.75);

        --syne: 'Syne', sans-serif;
        --inter: 'Inter', sans-serif;
      }

      [data-theme='light'] {
        --bg: white;
        --text: var(--dark);
        --glass: var(--glass-dark);
        --flip-filter: invert(1) hue-rotate(180deg);
        --shadow: var(--shadow-dark);
      }

      [data-theme='dark'] {
        --bg: var(--bg-dark);
        --text: var(--light);
        --glass: var(--glass-light);
        --flip-filter: invert(0) contrast(85%) hue-rotate(0deg);
        --shadow: var(--shadow-light);
      }

      html {
        scroll-behavior: smooth;
        scroll-padding-top: 100px;
      }

      html,
      body {
        height: 100%;
      }

      body {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;

        color: var(--text);
        font-family: var(--inter);

        background: var(--bg)
          url('https://res.cloudinary.com/dk3rdh3yo/image/upload/c_scale,f_auto/v1692505933/website-assets/header.png')
          no-repeat;
        background-size: contain;
        background-position: top center;
      }

      main {
        flex: 1;
      }

      .container {
        width: 100%;
      }

      .center {
        text-align: center;
      }

      .flip {
        filter: var(--flip-filter);
        background: unset;
        border: unset;
      }

      .cards {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        margin: 0;
        padding: 0;
      }

      @media screen and (min-width: 640px) {
        /* sm */
      }
      @media screen and (min-width: 768px) {
        /* md */
        .cards {
          grid-template-columns: repeat(2, 1fr);
        }
      }
      @media screen and (min-width: 1024px) {
        /* lg */
        .container {
          max-width: 1024;
          margin-left: auto;
          margin-right: auto;
        }
      }
      @media screen and (min-width: 1280px) {
        /* xl */
        body {
          background-position: center -10%;
        }
        .container {
          max-width: 1280px;
        }
      }
      @media screen and (min-width: 1536px) {
        /* 2xl */
        body {
          background-position: center -15%;
        }
        .container {
          max-width: 1536px;
        }
        .cards {
          grid-template-columns: repeat(3, 1fr);
        }
      }
      @media screen and (min-width: 1648px) {
        /* 3xl */
        body {
          background-position: center -20%;
        }
      }
      @media screen and (min-width: 1780px) {
        /* 4xl */
        body {
          background-position: center -30%;
        }
      }
    </style>
  </body>
</html>
