---
import BaseHead, {
  type Props as BaseHeadProps,
} from "../components/BaseHead.astro";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import SkipToContent from "@components/SkipToContent.astro";
import "../styles/global.css";

export interface Props extends BaseHeadProps {}

const { title, description, permalink, canonicalUrl, ograph } = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="dark">
  <BaseHead {title} {description} {permalink} {canonicalUrl} {ograph} />
  <body>
    <SkipToContent />
    <Header />
    <main id="content">
      <slot />
    </main>
    <Footer />
  </body>
</html>
