---
import '../styles/main.scss'
import BaseHead, { Props as BaseHeadProps } from '../components/BaseHead.astro'
import OhSnap from '../components/OhSnap.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import TwitchEmbed from '../components/TwitchEmbed.astro'

export interface Props extends BaseHeadProps {}

const { title, description, permalink, canonicalUrl, ograph } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <OhSnap />

  <BaseHead {title} {description} {permalink} {canonicalUrl} {ograph} />
  <script src="../scripts/yo.ts"></script>
  <script src="../scripts/favicon.ts"></script>

  <body>
    <a href="#content" class="hideMe">Skip to content</a>
    <TwitchEmbed />
    <Header />
    <main id="content">
      <slot />
    </main>
    <Footer />
  </body>
</html>
